body {
  background-color: rgb(144, 139, 173);
}

h1 {
  display: flex;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
  padding: 77px;
}

p {
  display: flex;
    justify-content: center;
    padding: 77px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


nav {
  border-radius: 17px;
  margin-top: -13px;
  background-color: rgb(102, 91, 117);

}

nav ul {
  text-align: center;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 32px;
}
